# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress screenshots y videos
cypress/screenshots/
cypress/videos/

# Cypress cache interno
cypress/.cache/
cypress/.output/

# Reportes Allure
allure-results/
allure-report/
allure-history/

# Env files
*.env
cypress/config/*.env

# Reportes de error
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Coverage (si usás cobertura con nyc)
coverage/

# Archivos temporales
*.tmp
*.swp
*.bak
*.old

# Archivos de configuración locales o del entorno
.env.*
.env.local
.env.development
.env.test
.env.production